<style>
h1{
    color: black;
    width:940px
}
.header{
    font-size: 300%;
    border-style: solid;
    border-color: black;
}
.header2{
    font-size: 40px;
}
body{
    background-color:whitesmoke;
}
.wrapper1{
    float: left;
    width: 620px;
    margin:0 auto 0 auto;
}
.wrapper2{
    float:right;
    width:320px;
}
    
}
<p>{
}
.p1{
    font-size: 20px;
    align-content: left;
    width:100%;
    }
.p2{
    font-size:20px;
    width:100%;
}
img {
    }
.image1{
    border-radius: 10px;
    border-style: solid;
    border-color:black;
    width: 300px;
}
.cats{
    width:300px;
    border-style: solid;
    border-radius: 10px;
}
h3{
    font-size: 200%;
    
}
.validator{
    float:left;
    
}
.list1{
    font-size: 125%;
}

a:link{
    align-items: left;
    color: grey;
}
a:hover{
    color:blue;
    background-color: transparent;
    text-decoration: underline;
}
<style>