
h1{
    color: black;
    width:940px;
}
.header{
    margin:0 auto;
    font-size: 60px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}
.header2{
    font-size: 40px;
}
body{
    width:940px;
    margin:0 auto;
    background-color:whitesmoke;
}
.leftcolumn{
    float: left;
    width: 620px;
}
.rightcolumn{
    float:right;
    max-width:320px;
    
}
p{
 font-size: 21px;
}
img {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    }
#me{
    width: 310px;
}
#cats{
    width:310px;
}
h3{
    font-size: 30px;
}
#list1{
    font-size: 125%;
}

a:link{
    align-items: left;
    color: grey;
}
a:hover{
    color:blue;
    background-color: transparent;
    text-decoration: underline;
}
